<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mobx-demo</title>
  <style>
    /**{*/
      /*margin: 0;*/
      /*padding: 0;*/
    /*}*/
    /*html,*/
    /*body {*/
      /*-webkit-tap-highlight-color: transparent;*/
      /*height: 100%;*/
      /*touch-action: none;*/
    /*}*/
  </style>
</head>

<body>
  <div id="root" style="height: 100%;"></div>
</body>

</html>